/*Page Layout */
/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');*/

@font-face {
font-family: 'Verlag Book';
font-style: normal;
font-weight: normal;
src: local('Verlag Book'), url('Verlag-Book.woff') format('woff');
}
#logo { 
    float:left;
    width:10%; 
}
#badge {
    width:6%; 
}
.infoHead{
    float: right;
    width:20%;
    padding-right: 100px
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
.topnav {
    position: fixed;
    /*margin: 100px auto;*/
    overflow: hidden;
    background-color: #aaa;
    float: right;
    width: 100%;
}
body
{
    margin: 100px auto;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family:'Verlag Book';
    /*font-family: Helvetica, Sans-Serif;*/
    color: #444444;
    font-size: 12pt;
    text-align: justify;
    line-height: 1.5;
}
.title {
    /*background-color: #F1F1F1;*/
    font-size: 24pt;
    font-weight: bold;
    float: left;
    width: 10%
    /*padding-left: 400px;*/
    padding-top: 10px;
}

/* Left column */
.leftcolumn {   
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 20px;
}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    /*background-color: #f1f1f1;*/
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 150px;
}
/* Clear floats after the columns */
.row:after{

    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #aaa;
    text-align: center;
    padding: 3px;
    height: 20px; 
    font-size: 0.6em;
    color: white;
}

/*Search Box */
#search-container {
    position: relative;
}
#search-container input {
    padding: 5px;
    font-size: .8em;
    width: 200px;

}
#search {
    position: relative;
    color: #000;
    z-index: 10;
    border: 1px solid #666;
    background: transparent;
}
#suggestion {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: #ccc;
    background: white;
    border: 1px solid #fff;
}

/*Clickable Names*/
#linkedAuthorName {
    cursor:pointer;
    color:#148be0;
    /*text-decoration:underline;*/
    /*font-weight: bold;*/
}
#linkedAuthorName:hover {
    cursor:pointer;
    /*color:blue;*/
    text-decoration:underline;
    /*font-weight: bold;*/
}
#publicationTitle {
    font-weight: bold;
}

#sideBarHead {
    font-size: 14px;
    color: black;
    position: absolute;
    text-align: center;
}
#dod {
    font-size: 12px;
    line-height: 1.2;
}

#info {
    cursor:pointer;
    color:#148be0;
    /*font-weight: bold;*/
}
#info:hover {
    cursor:pointer;
    /*color:blue;*/
    text-decoration:underline;
    /*font-weight: bold;*/
}

/*Visualization styles */
.bar {
  fill: gray;
}

.hbar{
    fill:black;
    opacity: 0.1 
}
.mbar{
    fill:red;
    opacity: 0.5
}

.bar:hover {
  fill: #fffd96;
}
.mbar:hover {
  fill: #fffd96;
}
.msbar {
  fill: #b73c35;
}
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.names{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family:'Verlag Book';
    /*font-weight: bold;*/
    fill:black;
    font-size:11px;
}
.moreBtn {
    fill:black;
    font-size:12px;
  
}
.moreBtn:hover{
     fill:blue;
     cursor:pointer;
    /*color:blue;*/
    text-decoration:underline;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 38px;
  padding: 2px;
  font: 10px sans-serif;
  background: #fce394;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}